.home > div{
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: #fff;
}
.on-sale > div, .essentials > div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}
.on-sale > p{
    padding: 10px 20px 0;
    margin: 0;
}
.brands{
    height: 51px;
    padding: 10px 20px;
    display: flex;
    align-items: center; 
}
.brands h1{
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.home-banner{
    height: 350px;
    width: 100%;
    margin-top: 10px;
}
.item-fav{
    position: absolute;
    top: 4%;
    left: 86%;
}
.initial-price{
    font-size: 12px;
    margin: 0;
    padding:0;
    text-decoration: line-through;
}
.on-sale{
    height: 324px;
}
.discount{
    position: absolute;
    top: 46%;
    right: 0;
    display: block;
    width: 72px;
    height: 23px;
}
.discount > img{
    display: block;
    width: 100%;
    height: 100%;
}

.lifestyle-shopping > div, .shopping-deals > div{
    height: 281px;
}
.lifestyle-shopping > div:nth-child(1){
    background: url(../images//lifestyle-lede.png)no-repeat;
    background-size: cover;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
}
.deals{
    background: url(../images/deals.png)no-repeat !important;
    background-size: cover !important;
    position: relative;
    border-radius: 15px 15px 0px 0px !important;
    z-index: 1;
}
.deals::before{ 
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .39);
    border-radius: inherit;
    z-index: -1;
}
.shop-deals > div:nth-child(1){
    background: url(../images//deals.png)no-repeat;
}
.lifestyle-shopping > div:nth-child(1) > h1, .shopping-deals > div:nth-child(1) > h1{
    font-weight: 900;
    margin-top: 92px;
}   
.lifestyle-shopping > div:nth-child(1) > a, .shopping-deals > div:nth-child(1) > a{
    text-decoration: none;
    width: 158px;
    height: 38px;
    background: #efd504;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 35px;
}
.essential > div:last-of-type{
    display: flex;
    align-items: end;
}
.deals > div:last-of-type{
    display: flex;
    align-items: end;
}
.sell-on-zipi{
    height: 342px;
    background: url(../images/contribute.png)no-repeat;
    background-size: 102%;
    background-position: 48% -5px;
    display: flex;
    justify-content: end;
}
.sell-on-zipi > div{
    color: #fff;
    width: 34%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    justify-content: center;
    margin-right: 129px;
}
.sell-on-zipi > div > h1{
    font-weight: 900;
    font-size: 43px;
    margin-top: 49px;
}
.sell-on-zipi > div > a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    width: 124px;
    height: 40px;
    text-align: center;
    background: #efd504;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.sell-on-zipi > div > p{
    text-align: end;
    font-size: 14px;
}
.subscribe{
    text-align: center;
    background: white;
    height: 216px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe > h1{
    font-size: 17px;
    font-weight: bold;
}
.subscribe > p{
    line-height: 18px;
    font-size: 15px;
}
.sub-form > div:nth-child(2) > div > input{
    width: 100%;    
    border-radius: 10px 0px 0px 10px;
}
.sub-form > div:nth-child(1) input{
    margin-bottom: 8px;   
}
.sub-form > div:nth-child(1) input:nth-child(1){
    margin-right: 8px;   
}
.sub-form > div input{
    border-radius: 10px;
    border: none;
    font-size: 12px;
    color: grey;
    background: #ededed;
    padding: 7px 13px;
}
.sub-submit {
    display: flex;
}
.sub-submit > button{
    border: none;
    background: #efd504;
    width: 35%;
    border-radius: 0px 10px 10px 0px;
    font-size: 12px;
    font-weight: bold;
}
.carousel{
    cursor: grab;
    overflow: hidden;
}
