.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.content{
    max-width: 1000px;
    margin: auto;
    position: relative;
}
.navbar{
    background: #333333 !important;
    position: fixed;
    top: 0;
    width: 100%;
    margin: auto;
}
.nav-container{
    background: #333;
    border-radius: 10px;
    height: 82px;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    width: 99%;
    max-width: 99%;
    margin: 10px;
    position: fixed;
}
.nav-container a:hover{
    opacity: 0.5;
    color: white;
}
.nav-container a:nth-child(4) > a .cartcountervar{
    color:#fff !important;
}
.cartcountervar{
    position: absolute;
    top: 8%;
    right: 12%;
    font-size: 12px;
}
.cartcountervar:hover{
    color: #fff !important;
}
.nav-link{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.navbar-brand img{
    width: 78%;
    height: 53%;
    display: block;
}
.profile-image img{
   width: 55px;
   height: 55px;
   display: block; 
   margin-left: 10px;
}
