.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.content{
    max-width: 1000px;
    margin: auto;
}
.navbar{
    background: #333333 !important;
    position: fixed;
    top: 0;
    width: 100%;
    margin: auto;
}
.nav-container{
    height: 82px;
    background: #333333;
    position: fixed;
    top: 0;
    margin: auto;
    width: 100%;
    z-index: 999;
}
.nav-link{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-brand img{
    width: 18%;
    height: 100%;
    display: block;
}
.profile-image img{
   width: 55px;
   height: 55px;
   display: block; 
   margin-left: 10px;
}
