.product-img{
    width: 100%;
    display: block;
    -webkit-user-drag: none;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}
.products-details, .recomended-details{
    width: 164px;
    padding: 10px;
}
.recomended-details{
    width: 10.5% !important;
    background: #fff;
    border-radius: 10px;
    height: 253px;
}
.recomended-details > div img{
    width: 72%;
    margin: 19px auto 24px auto;
}
.products-details > div, .recomended-details > div{
    padding: 10px;
    height: 249px;
    position: relative;
}

.products-details > div:hover, .recomended-details > div{
    cursor: pointer;
}

.products-details h3, .recomended-details h3{
    font-size: 12px;
    line-height: 15px;
    height: 28px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.products-details > div > p > i, .recomended-details > div > p > i{
    color: #FFE200;
    padding-right: 5px;
    text-shadow: 0 0 10px #0000002b;
}
/* .products-details > div > p > i::before{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */
.products-details > div > p > span, .recomended-details > div > p > span{
    font-size: 10px;
    font-weight: 600;
}
.products-details > div > b, .recomended-details > div > b{
    font-size: 11px;
    font-weight: 900;
}
.recommended-carousel{
    width: 1486px !important;
}
.product-info-img{
    display: block;
    width: 362px;
    height: 396px;
}
.product-info-container{
    display: flex;
}
.product-wrap{
    margin: 38px 0;
    margin-top: 108px;
}
.product-info-container > div:first-of-type{
    padding: 10px 52px 52px 55px;
    border-radius: 15px;
    margin-right: 14px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: relative;
}
.product-info-container > div:nth-child(1){
    width: 69%;
}
.product-info-container > div:nth-child(2) {
    width: 31%;
}
.prod-name-star{
    color: #f2f21a;
    padding-right: 5px;
    font-size: 11px;
}
.product-info-right-block > div{
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 12px;
    background: #fff;
}
.stroke{
    color: #9c9898 !important;
}
.product-thumb{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 49%;
    margin: auto; 
}
.product-thumb > div{
    width: 65px;
    height: 64px;
    background: #c1c1c1;
}
.view-image{
    margin-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-underline{
    color: #767676;
    margin: 0;
}
.product-info-price{
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.product-info-price span > h1{
    font-size: 19px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.product-info-price > span{
    display: flex;
    flex-direction: column;
}

.product-info-price > span > h1{
    align-self: end;
}
.fav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: #cccccc;
    padding: 10px;
    border-radius: 8px;
    width: 31px;
    height: 31px;
    margin: 0 10px;
    align-self: center;
}
.crossed-out{
    font-size: 11px;
    text-decoration: line-through;
    margin: 0;
    padding: 0;
}
.add-cart{
    border: none;
    font-size: 10px;
    font-weight: bold;
    padding: 0px 10px;
    width: 103px;
    height: 33px;
    align-self: center;
    border-radius: 12px;
    background: #fcdf01;
}
.prod-name > p{
    margin: 0;
    padding: 0;
}
.prod-name > p:last-of-type{
    font-size: 12px;
}
.prod-name{
    padding: 12px;
}
.prod-name-rating{
    font-size: 12px;
}
.prod-name-rating a, .prod-name > p:last-of-type a{
    text-decoration: none;
}
.product-info-right-block > div:nth-child(2) p, .product-info-right-block > div:nth-child(3) p{
    font-size: 12px;
    margin: 0;
}
.product-info-right-block > div:nth-child(3) > p:first-of-type{
    font-weight: bold;
    margin: 0;
}
.prod-name > p:first-of-type{
    font-size: 14px;
}
.product-discount-img{
    position: absolute;
    top: 0;
    right: 22%;
    width: 60px;
    z-index: 9;
}
.product-tag > p:nth-child(1){
    font-weight: bold;
    font-size: 12px;
}
.product-tag > p{
    margin: 0%;
    padding: 0;
    font-size: 10px;
}
.product-tag{
    height: 238px;
}
.product-info-right-block > div:nth-child(4){
    margin-bottom: 0;
}
.recomended-prod{
    border-radius: 15px;
    width: 68%;
    padding: 10px;
}
.recomended-header-text{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin: 45px 0;
}
.container-info{
    min-height: 1005px;
}