.sliding {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
.rec-pagination{
    display: none !important;
}
.jRFJkP{
    box-shadow: unset !important;
    font-size: 16px !important;
    background-color: transparent !important;
}
.jRFJkP:hover:enabled, .jRFJkP:focus:enabled{
    color: #000 !important;
}
.cNNJIt{
    background-color: unset !important;
    color: grey !important;
    box-shadow:unset !important;
    font-size: 17px !important;
}
.la-DnRx{
    background-color: unset !important;
}
.izuVIe{
    width: 175px !important;
    height: 47px !important;
}
.item-img{
    display: block !important;
    width: 100% !important;
    height: 100% !important;
}

.rec.rec-arrow {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    font-size: 16px !important;
}
.rec.rec-arrow:hover {
    color: #9e9c9c !important;
}